body {
  margin: 0;
  padding: 0;
}

p {
  padding: 1rem;
}


.nav-bar-list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.nav-bar-content {
  background-color:  rgb(20, 19, 20);
  position: fixed;
  z-index: 5;
  width: 100%;
  padding: 10px 0;
  z-index: 1000;
}

.nav-bar-list li a {
  color:  hsla(126, 100%, 85%, 1);
  text-decoration: none;
  font-size: 25px;
  font-weight: 300;
  border: 1rem;
  padding: 1rem;
  
}

.nav-bar-list li {
  display: inline-flex;
}

.nav-bar-list li {
  list-style: none;
}

.banner-content {
  max-width: 1500px;
  background-color: rgb(124, 43, 43);
  margin: auto;
  padding: 0rem 2rem;
}

.logo {
  text-align: center;
}

.banner-image {
  background-image: url(../images/hari-kari.png);
  height: 100vh;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.about-banner {
  padding: 1rem;
}

.title-about {
  font-size: 5rem;
  text-align: center;
}

a:is(:link, :active, :visited).active {
  background-color: hsla(126, 100%, 85%, 1);
  color: black;
}

footer {
  text-align: center;
}


.nav-sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 50px;
}

