@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sedgwick Ave Display', cursive, Arial, Helvetica, sans-serif;
}

.nav-bar-content {
  background-color: rgb(19, 19, 19);
}

.nav-bar-list li a {
  color: rgb(168, 238, 16);

}
